@import '_parts/font.scss';

html {
  font-size: 14px;
  line-height: 14px;
}

img {
  max-width: 100%;
  width: 100%;
}

/* main-style content */
.title-page {
  font-size: 2.3rem;
  font-family: "Lato", sans-serif;
  color: rgb(33, 33, 33);
  line-height: 2.3rem;
  margin: 2em 0;
}

p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: rgb(114, 114, 114);
  line-height: 1.4rem;
  font-weight: normal;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@import "_parts/header.scss";
@import "_parts/search_form.scss";

.main-content {
  width: 100%;
  position: relative;
  z-index: 20;
  &:after {
    background-image: url(../img/triangle-white.png);
    content: '';
    position: absolute;
    background-size: 100% 100%;
    width: 100%;
    height: 260px;
    bottom: -260px;
    z-index: 5;
  }
}

.content-wrapper {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
}

.content {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: rgb(114, 114, 114);
  line-height: 1.4rem;
  padding: 0 15px;
  margin-bottom: -50px;
  z-index: 10;
}

ol,
ul {
}
li {
  margin-bottom: 25px;
}
.img_left{
  float: left;
  display: block;
  max-width: 330px;
  margin: 5px 20px 5px 0;
}
.img_right{
  float: right;
}


@import "_parts/list_posts.scss";
@import "_parts/article-page.scss";
/* main-style post*/
.post-date {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: rgb(0, 151, 167);
  font-weight: bold;
  line-height: 1.5rem;
  text-decoration: none;
  margin-bottom: 5px;
}

.btn-read-post {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: rgb(0, 151, 167);
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.4rem;
}

@import "_parts/sidebar.scss";
@import "_parts/pagination.scss";
@import "_parts/footer.scss";