.article-pagination
    a.article-pagination__prev-page(href="#") << Предыдущая статья
    .wrap-pagination-preview
        .preview-article__img
            img.preview-article__image
        .preview-article__text
            .article-info
                a(href="#") 23.07.2016
            .article-text
                | Сезонные скидки на авиа билеты в AirFace

    a.article-pagination__next-page(href="#") Сдедующая статья >>
    .wrap-pagination-preview
        .preview-article__img
            img.preview-article__image
       .preview-article__text
           .article-info
               a(href="#") 23.07.2016
           .article-text
               | Вылеты из Риги за 0,99 euro